# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so

# Virtual env
.venv/
.env/

# Build & dist
build/
dist/
*.egg-info/

# IDE/editor
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Caches
.pytest_cache/
.mypy_cache/

